<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Учебное заведение{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'course_list' %}">Курсы</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'student_performance' %}">Успеваемость</a></li>
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text">
                    Привет, {{ user.username }}! <a href="{% url 'logout' %}">Выйти</a>
                </span>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
