{#{% extends 'index.html' %}#}
{#{% block css %}<meta http-equiv="refresh" content="5;{% url 'index' %}">{% endblock %}#}


{% block title %}Logout{% endblock title %}

{% block content %}
<div class="container bground2">
<div class="form">
<h2>You are logged out</h2>
<h6>You will be redirected to the Home Page</h6>
    <div class="border-top pt-3 pb-5">
        <small class="text-muted text-center">
            Login again<a class="ml-2" href={% url "login" %}>Login</a>
        </small>
    </div>
</div>
</div>
{% endblock content %}