{% extends 'base.html' %}
{% block title %}Мониторинг успеваемости{% endblock %}
{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <h2>Мониторинг успеваемости</h2>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Мониторинг успеваемости (по предметам)</h2>
    <div class="container mt-5">
        <form method="GET" class="mb-4">
            <div class="form-group">
                <label for="courseSelect">Выберите предмет:</label>
                <select class="form-control" id="courseSelect" name="course">
                    <option value="">Все предметы</option>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Показать оценки</button>
        </form>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ФИО cтудента</th>
                    <th>Предмет</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                    <tr>
                        <td>{{ grade.student }}</td>
                        <td>{{ grade.course.name }}</td>
                        <td>{{ grade.grade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
