{% extends 'base_students.html' %}

{% block title %}Помощь для студентов МИЭТ{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-5 text-center">Помощь для студентов МИЭТа</h2>
    <p class="lead text-center">Здесь вы найдете информацию о том, как получить помощь, решить возникающие проблемы и найти нужную информацию.</p>

    <div class="row">
        <!-- Блок с контактными данными -->
        <div class="col-md-6">
            <h4>Контактные данные</h4>
            <ul class="list-group">
                <li class="list-group-item">📞 Телефон приемной комиссии: 8 800 600-56-89</li>
                <li class="list-group-item">📧 Электронная почта: abit@miee.ru</li>
                <li class="list-group-item">🌐 Официальный сайт: <a href="https://miet.ru" target="_blank">www.miet.ru</a></li>
            </ul>
        </div>

        <!-- Блок с типами помощи -->
        <div class="col-md-6">
            <h4>Типы помощи</h4>
            <ul class="list-group">
                <li class="list-group-item">📚 Помощь с учебными заданиями и проектами</li>
                <li class="list-group-item">💻 Техническая поддержка</li>
                <li class="list-group-item">📖 Консультации по учебной программе</li>
                <li class="list-group-item">🔒 Помощь по вопросам безопасности и доступа</li>
            </ul>
        </div>
    </div>

    <hr>

    <h4 class="text-center">Часто задаваемые вопросы</h4>
    <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">
                    Как получить помощь по учебным заданиям?
                </button>
            </h2>
            <div id="faqCollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Вы можете обратиться к преподавателю курса для получения консультации. Также доступны групповые консультации, расписание которых размещено на сайте университета.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo" aria-expanded="true" aria-controls="faqCollapseTwo">
                    Как записаться на консультацию с преподавателем?
                </button>
            </h2>
            <div id="faqCollapseTwo" class="accordion-collapse collapse show" aria-labelledby="faqHeadingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Записаться на консультацию можно через личный кабинет студента на портале университета. Убедитесь, что у вас есть все необходимые документы и вопросы для обсуждения.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="faqHeadingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapseThree" aria-expanded="true" aria-controls="faqCollapseThree">
                    Где найти расписание экзаменов и зачетов?
                </button>
            </h2>
            <div id="faqCollapseThree" class="accordion-collapse collapse show" aria-labelledby="faqHeadingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Расписание экзаменов и зачетов публикуется на официальном сайте университета. Вы также можете получить информацию через электронную почту или в вашем личном кабинете.
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h4 class="text-center">Дополнительные ресурсы</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://miet.ru" target="_blank">Официальный сайт МИЭТ</a></li>
        <li class="list-group-item"><a href="https://www.miitsk.ru" target="_blank">Студенческий портал МИЭТ</a></li>
        <li class="list-group-item"><a href="https://github.com" target="_blank">GitHub для студентов</a></li>
    </ul>
</div>
{% endblock %}
