{% extends 'base_students.html' %}

{% block title %}Список практик{% endblock %}

{% block content %}
<h2 class="mb-4">Список возможных мест для практики</h2>

<div class="row">
    {% for internship in internships %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">{{ internship.company }}</h5>
                <p class="card-text">
                    <strong>Представитель компании:</strong> {{ internship.company_representative }}<br>
                    <strong>Контактные данные:</strong> {{ internship.contact_details }}<br>
                    <strong>Научный руководитель МИЭТ:</strong> 
                    {% if internship.is_academic_supervisor %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                    <br>
                    <strong>Руководитель от предприятия:</strong> 
                    {% if internship.is_company_supervisor %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Нет информации о практиках для отображения.</p>
    {% endfor %}
</div>
{% endblock %}

