<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет о студенте</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Выбор студента</h1>

        <form method="GET" class="mb-4">
            <div class="form-group">
                <label for="studentSelect">Выберите студента:</label>
                <select class="form-control" id="studentSelect" name="student">
                    <option value="">Выберите студента</option>
                    {% for student in students %}
                        <option value="{{ student.id }}">{{ student}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Показать успеваемость</button>
        </form>
    </div>
</body>
</html>
